<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Baking with Gemini</title>
	<link rel="stylesheet" href="/content/style.css">
</head>

<body>
	<main>
		<h1>Baking with Gemini</h1>
		<form onsubmit="generate()">
			<div class="image-picker">
				{{range $i, $img := .images}}
				<label class="image-choice">
					<input type="radio" {{if eq $i 0}} checked {{end}} name="chosen-image" value="/content/images/{{$img}}">
					<img src="/content/images/{{.}}">
				</label>
				{{end}}
			</div>
			<div class="prompt-box">
				<label>
					<input name="prompt" placeholder="Enter instructions here" type="text"
						value="{{.prompt}}">
				</label>
				<button type="submit">Go</button>
			</div>
		</form>
		<div id="output">{{.response}}</div>

		<script src="https://unpkg.com/markdown-it@8.4.2/dist/markdown-it.min.js"></script>
		<script>
			function generate() {
				event.preventDefault()
				var form = document.querySelector("form");
				var data = new FormData(form);
				var output = document.getElementById("output");
				output.innerHTML = "Generating...";
				var request = new XMLHttpRequest();
				request.open("POST", "/api/generate");
				request.send(data);
				request.onload = function () {
					let md = window.markdownit();
					output.innerHTML = md.render(request.responseText);
				};
				return false;
			}
		</script>
</body>



</html>